html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

button {
	font-family: 'Segoe UI Regular', sans-serif !important;

}

.loader_ie{display: none;}
.price_no br{display: none;}
.operator_foto{margin-left: 10px;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{height: 100%;}
body {
	height: auto !important;
	height: 100%;
	min-height: 100%;
	font-size: 12px;
	line-height: 1;
	color: #000;
	font-family: Segoe UI Regular, sans-serif!important;
	position: relative;
	box-sizing:border-box;
	background-attachment: fixed;
	background-size: cover !important;
	display: none;
	background-repeat: no-repeat !important;
}
nav ul {
    list-style:none;
}

.form_quest {
	padding: 10px !important;

}

.qbutton {
	display: block;
	height: 50px;
    font-size: 18px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    border: 0;
    position: relative;
    margin: 20px auto;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-align: center;
    width: 50%;
	color: #fff;
	max-width: 250px;
    min-width: 250px;
    padding: 7px 15px 10px 15px;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
	/* border: #000 solid 1px; */
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.fireicon {
	width: 19px;
    margin-left: -19px;
	margin-right: 4px;
}
a, span{
	display: inline-block;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	padding-bottom: 35px;
}
#header{
	position: relative;
}
.header{
	width: 800px;
	margin: 0 auto;
	position: relative;
	padding: 6px 0 6px;
	background: none;
}
.img_title{
	width: 100px;
	float: left;
	font-weight: 700;
	font-size: 13px;
	line-height: 14px;
	color: #fff;
	text-align: left;
}
.img_title span{
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}
.img_title span.logo{
	width: 35px;
}
.img_title span.logo img{
	display: block;
	width: 100%;
}
.date{
	float: right;
	width: 100%;
	text-align: center;
	z-index: 10;
	position: absolute ;
	right: 0;
	top: 0px;
	background: #fff;
}
.flag{
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.flag img{
	display: inline-block;
	vertical-align: -5px;
	line-height: normal;
	margin-right: 2px;
}
.header_wrapp{
	width: 100%;
	margin: 0 auto;
	position: relative;
	text-align: center;
	/* background-color: #002D7A; */
}
.header_bottom{
	width: 800px;
	margin: 0 auto;
	position: relative;
}
.text_title{
	margin: 0 auto;
	box-sizing: border-box;
	text-align: center;
	float: none!important;
}
.top_title{
	font-size: 18px;
	font-weight: 700;
	float: none !important;
	width: 100% !important;
	padding: 0;
	color: black;
}
.top_title span{
	width: 35px;
	vertical-align: middle;
}
.top_title span img{
	display: block;
	width: 70%;
}
h1#title_header{
	margin: 0;
	font-weight: 700;
	font-family: 'Segoe UI Regular', sans-serif !important;
	display: inline-block;
	position: relative;
	text-transform: capitalize;
}
#title_header span{
	display: inline;
}
.isp-place{
	display: inline;
}
body .content_center{
	position: relative;
	z-index: 2;
	width: 800px;
	margin: 0 auto;
	padding: 15px;
	box-sizing: border-box;
	background: rgba(255,255,255,0.9);
}
.container_center{
	box-sizing: border-box;
	position: relative;
	z-index: 10;
}
.operator_block{
	width: 100%;
	position: relative;
	border-radius: 0;
	color: #444444;
}
.operator_wrapp{
	position: relative;
	min-height: 70px;
}
.date_mobile,
.gift_mobile{
	display: none;
}
.operator_foto{
	float: left;
	display: block;
	width: 100px;
	height: 125px;
	overflow: hidden;
	margin-left: 10px;
	position: absolute;
	bottom: 0;
}
.operator_foto img{
	display: block;
	width: 100%;
}
.operator_text{
	max-width: 800px;
	text-align: left;	
}
.operator_text a{
	color: #1a6ec1!important;
	font-weight: 700;
}
#text1 p:first-child,
#text2 p:first-child{
	font-size: 20px;
	margin-bottom: 7px;
	font-weight: 700;
}
#text1 p:first-child b{
	font-weight: 700;
}
#text2{display: none;}
#text2 p b{
	font-weight: 700;
}
.operator_text p{
	line-height: 22px;
	margin-bottom: 7px;
	font-weight: 400;
}
.underload span{
	/* padding-left: 20px; */
	position: relative;
}
.underload span:before{
	content: '';
	background: url(../img/fire_icon.png) no-repeat;
	background-size: cover;
	width: 12px;
	height: 16px;
	position: absolute;
	left: 0;
	top: 10px;
	margin-top: -10px;
}
.section{
	width: 100%;
	position: relative;
	z-index: 10;
	padding: 0;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	margin: 0 auto 140px;
}
.active_p .section{
	padding-bottom: 0;
}
.question_border{
	position: relative;
	padding: 0;
}
.form_content_block{
	text-align: center;
}
.form_content{
	display: inline-block;
	width: 100%;
	text-align: center;
}
.form_content form{
	position: relative;
	margin: 0 auto;
	padding: 20px 0 17px;
}
.form_content form ul{
	text-align: left;
	margin-bottom: 0;
	display: inline-block;
}
.form_content form ul li{
	list-style: none;	
}
.form_content form input[type="radio"] {
    display:none;            
}
.form_content form input[type="radio"] + label {
	font-family: 'Segoe UI Regular', sans-serif !important;
	font-size: 18px;
	font-weight: 400;
	cursor: pointer;
	position: relative;
	display: block;
}
.form_content .form_quest{
	margin: 0 auto 12px;
}
.header_quest{
	position: relative;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.step_question{
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	position: relative;
	border-radius: 30px;
	font-style: italic;
}
.question_des{
	line-height: 26px;
	font-family: 'Segoe UI Regular', sans-serif !important;
	display: block;
	margin-top: 5px;
}
#q2,#q3,#q4,#q5,#q6,#q7,#q8,#q9,#searching,#gift1,
#submit2,#submit3{
	display: none;
}
#searching{
	text-align: left;
	font-size: 16px;
	color: #1d1d1d;
	line-height: 18px;
	position: relative ;
	z-index: 1;
}
.loader_block{
	text-align: center!important;
	color: #8b9696;
}
.loader_content{
	padding: 30px 30px 30px 30px;
	min-height: 203px;
	text-align: center;
}
.loader_wrapp{
	width: 100%;
	height: auto;
	margin: 20px auto 0;
	min-height: 185px;
}
.loader_text{
	margin-top: 15px;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
}
.loader_img{
	margin-top: 30px;
}
.loader_img img{
	width: 10%;
}
#gift1{
	text-align: center;
	margin: 0 auto;
}
.question_p_border{
	position: relative ;
	z-index: 1;
}
.product_desctop{
	/*width: 800px;*/
	margin: 0 auto;
}
.row_pducts{
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
	cursor: pointer;
	position: relative;
	margin: 0 0 20px 0;
	border: #e2e2e2 solid 1px;
	background-color: #fff;
}
.row_pducts:nth-child(3n+1){
	margin-left: 0;
}
.row_pducts:hover{
	background: #fcfcfc;
}
.row_pducts.out:hover{
	background: #fff;
}
.row_pducts.out,
.row_pducts.out > div,
.row_pducts.out .right_item_product button{
	cursor: default;
}
.row_pducts.out .img_p,
.row_pducts.out .name_prod,
.row_pducts.out .left_item_product,
.row_pducts.out .rating_block{
	opacity: 0.5;
}
.out .remaining > span{
	opacity: 0.5;
}
.right_item_product > span{
	background: #fff;
	display: inline-block;
	border-radius: 5px;
}
.row_pducts.out .button{
	opacity: 0.5!important;
	width: 100%
}
.img_p{
	float: left;
	cursor: pointer;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	width: 183px;
	position: relative;
	margin-right: 10px;
}
.img_p .img{
	width: 181px;
	margin: 0 auto;
	border: #e7e6e3 solid 1px;
	height: 145px;
}
.img_p img{
	display: inline-block;
	line-height: normal;
	vertical-align: bottom;
	position: relative;
	/*top: 19px;*/
	z-index: 1;
	max-height: 145px;
	max-width: 190px;

}
.favor_icon{
	width: 24px;
	height: 25px;
	border-radius: 50%;
	position: absolute;
	right: 5px;
	top: 5px;
	border: #1757aa solid 1px;
	z-index: 999;
	background: white;

}
.favor_icon span{
	background: url(favorite_icon.png) no-repeat;
	background-size: cover;
	width: 16px;
	height: 14px;
	margin-top: 5px;
	margin-left: 1px;

}
.row_pducts:first-child .favor_icon{
	display: block;
}
.des_prod{
	text-align: left;
	font-size: 14px;
	line-height: 18px;
	color: #d5d5d5;
	margin-top: 8px;
}
.name_prod{
	font-size: 15px;
	font-weight: 400;
	color: #808080;
}
.name_prod a{
	font-style: italic;

}
.name_prod a span{
	font-size: 20px;
	display:block;
	font-weight: 700;
	font-style: normal;
	margin: 0;
	color: #212529;
}
.left_item_product{
	max-width: 450px;
	width: 100%;
	font-size: 15px;
	color: #444444;
	line-height: 18px;
	margin-top: 10px;
}
.price_no > span{
	display: block;
	margin-top: 5px;
}
.price_no > span:first-child{
	margin-top: 0;
}
.np span{
	text-decoration: line-through;
}
.tp b.blink{
	color: green;
	font-size: 20px;
}
.new_price{
	display: inline-block;
	font-size: 20px;
	margin-right: 5px;
	font-weight: 700;
}
.old_price{
	font-size: 14px;
	color: #606060;
	text-decoration: line-through;
}
.dg{
	font-weight: 700;
}
.prod_button{
	position: absolute;
	right: 9px;
	bottom: 23px
}
.prod_button .right_item_product{
	min-width: 265px;
}
.rating_block{
	text-align: center;
	margin: 5px 0 0 0;
}
.rating_block ul li{
	display: inline-block;
	margin-left: -3px;
	color: #5a5a5a;
	font-size: 14px;
	vertical-align: middle;
	position: relative;
	width: 16px;
	height: 8px;
	font-weight: 700;
	background-position: -24px 0;
}
.rating_block ul li:first-child{
	margin-left: 2px;
}
.rating_block ul li.active,
.rating_block ul li.active25,
.rating_block ul li.active50,
.rating_block ul li.active75,
.rating_block ul li{	
	position: relative;
	background-size: cover;
}
.rating_block ul li.active0{
	background-position: -21px 0;
}
.rating_block ul li.active25{
	background-position: -42px 0;
}
.rating_block ul li.active50{
	background-position: -63px 0;
}
.rating_block ul li.active75{
	background-position: -84px 0;
}
.rating_block ul li.n_rev{
	font-size: 13px;
	margin-left: 1px;
	width: auto;
	height: auto;
	background: none;
	margin-top: 3px
}
.button{
	font-family: 'Segoe UI Regular', sans-serif !important;
	cursor: pointer;
	position: relative;
	display: inline-block;
	margin: 0 auto;
	margin-top: 15px;
	font-size: 18px;
	font-weight: 700;
	padding: 13px 15px 13px;
	outline: none;
	line-height: 18px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	text-align: center;
	min-width: 200px;
}
.button span{
	position: relative;
}
.red_op{
	color: red;
}
.comment{
	width: 100%;
	margin: 0 auto;
	position: relative;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.title_comment_row{
	padding: 35px 0 5px;
}
.addCommentBox input[type="button"]{
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	padding: 8px 18px;
	margin: 10px 0;
	float: right;
	cursor: pointer;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-appearance: none;
}
.title_cf{
	font-size: 16px;
	color: #414141;
	font-weight: 700;
	padding-bottom: 13px;
	margin-bottom: 15px;
	border-bottom:#e8e8e8 solid 3px;
	text-align: left;
}
.title_comment{
	font-size: 14px;
	color: #414141;
	margin-bottom: 5px;
	text-align: left;
}
.commentTextBox{
	height: 80px;
	width: 100%;
	border: #e7e6e3 solid 1px;
	resize: none;
	padding: 5px;
	outline: none;
	font-family: 'Segoe UI Regular', sans-serif !important;
	font-size: 13px;
}
.comment_row{
	overflow: hidden;
	padding: 10px 10px 10px;
	text-align: left;
	position: relative;
	margin: 0 auto 10px;
}
.comment_row.img_cr{
	overflow: visible;
}
.comment_row:first-child{
	border-top: 0;
}
.user_img{
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;
}
.user_img img{
	display: block;
	width: 100%;
}
.inf_user{
	position: relative;
	width: 100%;
}
.name_user{
	font-size: 12px;
	color: #000;
	font-weight: 700;
	margin-right: 15px;
	padding: 9px 0 0 60px;
	width: 100%;
}
.date_comm{
	font-size: 12px;
	color: #475a86;
	margin-left: 5px;
	display: inline-block;
	font-weight: 400;
}
.text_user{
	line-height: 18px;
	font-size: 13px;
	color: #1d1d1d;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	padding: 5px 20px 0 60px;
}
.comment_row.img_cr .name_user{
	padding-top: 0;
}
.comment_row.img_cr .img_prize{
	margin-top: 5px;
}
.icon_footer{
	margin-bottom: 5px;
}
.icon_footer span{
	width: auto;
	height: 50px;
}
.icon_footer span img{
	display: block;
	width: auto;
	height: 100%;
}
.foot_text{
	position: absolute;
	bottom: -68px;
	width: 100%;
	left: 50%;
	padding: 10px 0 5px;
	margin-left: -50%;
	text-align: center;
}
.footer_content{
	width: 800px;
	margin: 0 auto;
	display: block;
	font-size: 12px;
	color: #1d1d1d;
}
.footer_content b{
	display: inline-block;
	margin-bottom: 5px;
}
.active_p .foot_text{
	margin-top: -5px;
}
.jquery-msgbox-buttons{
	text-align: right;
	position: absolute;
	right: 0;
	bottom: 10px;
	width: 100%;
}
.jquery-msgbox-buttons button{
	display: block;
	font-size: 18px;
	font-weight: 700;
	outline: none;
	cursor: pointer;
	border: 0;
	position: relative;
	margin: 0 auto;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	text-align: center;
	width: 50%;
}
.header_popup{
	display: block;
	height: 40px;
	line-height: 40px;
	width: 100%;
	font-weight: 700;
	box-sizing: border-box;
	text-align: left;
	position: relative;
	z-index: 2;
	padding: 0 20px;
}
.logo_h{
	float: left;
	width: 55px;
	padding: 8px 10px 7px;
	background: #FA7921;
	box-sizing: border-box;
	margin-right: 10px;
}
.logo_h img{
	display: block;
	width: 100%;
}
.close_popup{
	display: none;
	position: absolute;
	right: 8px;
	top: 9px;
	cursor: pointer;
}
.close_popup span{
	display: block;
	background: url(../img/close_popup.png) no-repeat;
	width: 18px;
	height: 16px;
}
.img_popup{
	display: block;
	text-align: center;
	background: #f2f3f7;
	margin: 15px auto 0;
	border-radius: 50%;
	border: #d1d4dd solid 2px;
	position: relative;
}
.img_popup img{
	display: block;
	width: 100%;
}
.text_popup{
	text-align: center;
	font-size: 17px;
	line-height: 23px;
	padding: 0;
	margin: 20px 15px 20px 15px;
	position: relative;
	padding-bottom: 0;
	box-sizing: border-box;
}
.text_popup p{
	margin-bottom: 10px;
}
.title_popup{
	display: block;
	font-size: 24px;
	line-height: normal;
	margin: 0 0 10px 0;
	font-family: 'Segoe UI Regular', sans-serif !important;
	font-weight: 700;
	vertical-align: middle;
}
.title_popup strong{
	font-weight: 700;
}
.footer_popup{
	height: 70px;
	background: #fafafa;
	border-top: #e0e3ea solid 1px;
}
.flag_mobile{
	display: none;
}
.logo_pu{
	text-align: left;
	position: relative;
	width: 130px;
	margin-top: 24px;
	margin-left: 20px;
	font-size: 10px;
}
.logo_pu img{
	position: absolute;
	left: -25px;
	top: 0px
}
.jquery-msgbox {
    position: relative;
    background-color: #fff!important;
    max-width: 596px;
    width: 95%;
	-moz-box-shadow: 0 0 10px rgba(153,153,153,.2);
	-webkit-box-shadow: 0 0 10px rgba(153,153,153,.2);
	box-shadow: 0 0 10px rgba(153,153,153,.2);
    padding: 0;
    left: 50%!important;
    /*margin-left: -298px;*/
	border-radius: 5px !important;
	border: #e3edf1 solid 3px;
	display: block; 
	position: absolute; 
	top: 35%;
	height: auto; z-index: 10000; overflow-wrap: break-word; box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px; border-radius: 6px; background-color: rgb(255, 255, 255);
	transform: translate(-50%,-50%);
}
.bxsh{
	opacity: 0.5!important;
}
.out .button{
	-moz-animation: none;
	-webkit-animation: none;
	-ms-animation: none;
}
#myProgress {
    width: 50%;
    border-radius: 5px;
    overflow: hidden;
    margin: 40px auto 20px;
}
#myBar {
    width: 1%;
    height: 18px;
}
.operator_foto_mob{
	display: none;
}
.date .date_show{
	vertical-align: 0px
}
.new_price span{
	font-size: 14px;
	color: #606060;
	font-weight: 400;
}
.p_prize4.out{
	display: none;
}
.out .gift_b{
	opacity: 0.5;
}
.rating_block ul li{
	background: url(rating_star_ik.png) 0 0!important;
	position: relative!important;
	width: 21px!important;
	height: 20px!important;
	background-size: cover!important;
	margin-left: 1px!important;
}
.rating_block ul li.n_rev{
	font-size: 13px!important;
	margin-left: 4px!important;
	width: auto!important;
	height: auto!important;
	background: none!important;
	margin-top: 3px!important;
}
.p_prize2 .rating_block ul li:nth-child(5n){background-position: -62px 0 !important;}
.p_prize3 .rating_block ul li:nth-child(5n){background-position: -84px 0px !important;}
.p_prize4 .rating_block ul li:nth-child(5n){background-position: -62px 0 !important;}
.p_prize5 .rating_block ul li:nth-child(5n){background-position: -84px 0 !important;}
.p_prize6 .rating_block ul li:nth-child(5n){background-position: -62px 0 !important;}
.random_numb{
	background: rgba(168, 220, 209, 0.5);
	/* color: #000; */
	font-weight: 700;
	padding: 0 5px;
}
#text2{
	padding-top: 15px;
}
@media only screen and (max-width: 780px){
	.wrapper{
		width: 100%;
		margin: 0 auto;
	}
	.header{
		min-height: 50px;
		width: 90%;
	}
	.header_bottom{
		width: auto;
	}
	.img_title{
		margin-left: 20px;
	}
	body .content_center{
		padding: 0 20px;
		width: 100%;
	}
	.operator_block{
		width: 100%;
	}
	.section{
		width: 100%;
	}
	.product_desctop{
		width: 100%;
		padding-bottom: 20px;
	}
	.form_quest{
		text-align: center;
		font-size: 0;
	}
	.foot_text{
		width: 100%;
		margin-left: -50%;
		bottom: -66px;
	}
	.footer_content{
		width: 96%;
	}
	.rating_block{
		position: static;
		margin: 5px 0;
		text-align: center;
	}
	.name_prod{
		margin-top: 0;
	}
	.prod_button{
		padding-top:10;
	}
	.sold{
		right: -75px;
	}
	.getting, 
	.shipp{
		display: block;
	}
	.header_wrapp{
		width: 100%;
	}
	.row_pducts.out{display: none;}
	.row_pducts.out.prev{display: inline-block;}
	.row_pducts.out{
		display: inline-block!important;
	}
	.out.last{display: inline-block;}
}
@media screen and (max-width: 480px) {
	.prod_button {
		position: initial;
	}
	.img_p {
		float: none;
		text-align: left;
	}
	.row_pducts {
		text-align: left;
	}
}