.bordercss{
    border: 1px solid red;
}
.galaxy-img{
    width: 350px;
    height: 70px;
   
}
.hov{
    cursor: pointer;
}
.border-cnt{
    border: 1px solid #c6c6c6;
    background-color: #f1f1f1;
}
.black-text{
    color: #000;
    font-weight: 500;
}
.font-size-20{
    font-size: 20px!important;
    font-weight: bold;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.name{
    font-size: 14px!important;
    font-weight: bold;
    color: #3b5998;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.font-size-18{
    font-size: 18px!important;
    font-weight: normal;
    color: #000;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.font-size-14{
    color: #000;
    font-size: 14px!important;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1rem;
}
.font-weight-700{
    font-weight: 700;
}

.font-size-12{
    
    font-size: 12px!important;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.font-weight-bold{
    font-weight: bold!important;
}
span{
    color: red;
    font-weight: bold;
}
.offer-img-size{
    width: 110px;	
    
}
.border-bottom{
    border-bottom: 1px solid rgb(168,167, 167) !important;
}
.grey-text{
    color:rgb(168, 167, 167);
}
.com-width-70{
    width: 70px!important;
    height: auto!important;
}
.img-size-60{
    height: auto;
    width: 60px;
    padding-left: 5px;
}
.hov{
    cursor: pointer;
}
.com-width-560{
    width: 530px;
}
.line{
    border-bottom: 1px solid grey;
}
.color-blue{
    color: #3B5998;
}

.font-size-11{
    font-size: 11px!important;
}
.img-size150x{
    width: 250px;
    height: 250px;
    object-fit: scale-down;
}
.header-style{
    height: 40px; 
    padding: 6px;
    background-color: #004098;
}
.vertical-aligh{
    vertical-align: middle;
    
}
.btn-color{
    background-color: #0071bf;
    color: #fff;
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
    border: none;
}
@media (max-width: 800px) {
    .img-size150x{
    width: 150px;
    height: 100px;
    object-fit: scale-down;
    }
    .galaxy-img{
        width: 50% !important;
        object-fit: scale-down;
        height: 45px;
    }
    .hide-mobile{
        display: none;
    }
    .mobile-padding{ 
        padding: 8px!important;
     }
     .com-width-560{
     max-width: 75%;

    }
    .offer-img-size{
    width: 80px;	
    
}
}