body {
	/*background: -moz-radial-gradient(center, ellipse cover, rgba(242,245,246,0.5) 0%, rgba(227,234,237,0.69) 37%, rgba(200,215,220,1) 100%); 
	background: -webkit-radial-gradient(center, ellipse cover, rgba(242,245,246,0.5) 0%,rgba(227,234,237,0.69) 37%,rgba(200,215,220,1) 100%); */
	background: radial-gradient(ellipse at center, rgba(242,245,246,0.5) 0%,rgba(227,234,237,0.69) 37%,rgba(200,215,220,1) 100%); 
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80f2f5f6', endColorstr='#c8d7dc',GradientType=1 );*/
	background-attachment: fixed;
    background-position: center;

}
#header {
	/* background-color: #e01a22; */
	border-bottom: #000000 solid 2px;
}
.date{
	font-size: 12px;
	font-weight: 700;
	color: #000;
	top: auto;
	bottom: -37px;
	padding: 5px 0;
}
.flag{
	display: inline-block;
	vertical-align: middle;
}
.flag img{
	width: 100%;
	display: inline-block;
	vertical-align: -5px;
	line-height: normal;
	margin-right: 2px;
}
.header_top{
	padding: 7px 0 5px;
	position: relative;
}
.text_title{
  display: inline-block;
}
.header_top .top_title{
	float: left;
	width: 100%;
}
.top_title{
	color: #fff;
	margin-bottom: 2px;
}
h1#title_header{
	font-size: 80px;
	color: #fff;
	font-weight: 400;
	text-transform: lowercase;
}
.operator_wrapp{
  color: #4c4c4c;
}
.operator_foto span{
	background: url(../img/operator_cl.png) no-repeat;
	background-size: cover;
	width: 100px;
	height: 126px;
}
#text1{
	position: relative;
	top: -5px;
	padding-top: 15px;
}
.operator_text{
	padding: 0 20px 0 0;
	margin-left: 140px;
}
#text1 p:first-child,
#text2 p:first-child{
	font-size: 18px;
	color: #4c4c4c;
}
.operator_text p{
	font-size: 15px;
	color: #4c4c4c;
}
.operator_text p span{display: inline;}
.question_border{
	background-color: #e3edf1;
}
.form_content form{
	display: block;
	text-align: center;
}
.form_content form ul li {
  margin-bottom: 10px;
}
.content_center {
	background: white !important;
	opacity: 0.97;


}
.form_content form input[type="radio"] + label {
	padding: 13px 35px 13px 35px;
	text-align: center;
	min-width: 150px;
	border-radius: 5px;
	color: #fff;
	background: #002D7A;;
	/*border: #000 solid 1px;*/
}
.form_content form input[type="radio"] + label:hover {
	background-color: #FFE401;
	/*background-image: deprecated-webkit-gradient(linear, left top, left bottom, #f20c16, #e7070d);
	background-image: -webkit-linear-gradient(top, #f20c16, #e7070d);
	background-image: -moz-linear-gradient(top, #f20c16, #e7070d);
	background-image: -ms-linear-gradient(top, #f20c16, #e7070d);
	background-image: -o-linear-gradient(top, #f20c16, #e7070d);
	background-image: linear-gradient(top, #f20c16, #e7070d);*/
	color: #002D7A;
}
.form_content .form_quest{
	padding: 20px 20px 20px;
}
.header_quest{
	padding: 18px;
	position: relative;
	text-align: center;
	/*background-color: #f2f2f2;*/
	background-color: #4F5563;
}
.step_question{
	color: #acbec3;
}
.question_des{
	font-size: 24px;
	color: #f8fbfc;
	line-height: 33px;
	font-weight: 700;
	font-family: Arial, Tahoma, sans-serif;
	display: block;
	text-align: center;
	margin-top: 5px;
}
#searching{
	/* border-top: #505563 solid 5px; */
	background-color: #e3edf1;
}
#progressbar,#progressbar_two {
    position: relative;
    margin: 0 auto;
    max-width: 300px;
    background: #666;
    padding: 2px;
}

#progress,#progress_two {
    position: relative;
    height: 10px;
    width: 0;
    -webkit-transition: width .3s ease-in;
    -moz-transition: width .3s ease-in;
    -o-transition: width .3s ease-in;
    transition: width .3s ease-in
}
ul.fa-ul li.checks {
	text-align: center;
	display: block;
	font-weight: 700;
	font-size: 20px;
	color: #4c4c4c;
	list-style-type: none;
	margin: 0 0 10px;
    /*opacity: 0;*/
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    transition: .5s ease-in
}

ul li.checks i {
    color: #b0d235
}
.loader_text{
	color: #333333;
}
.question_p_border{
	border-top: #505563 solid 5px;
	background-color: #e3edf1;
}
.product_desctop{
	padding: 0px 20px 0;
}
.new_price{
	color: #000000;
}
.dg{
	color: #308c02;
}
.rating_block ul li{
	width: 15px;
	height: 16px;
}
.rating_block ul li {
    background: url(../img/rating_star_cl.png) 0 0;
    position: relative;
	width: 15px;
	height: 16px;
    background-size: cover;
    margin-left: 1px;
}
.rating_block ul li.n_rev {
    font-size: 13px;
    margin-left: 4px;
    width: auto;
    height: auto;
    background: none;
    margin-top: 3px;
}
.row_pducts.out *{cursor: default!important;}
.row_pducts.out:hover .button,
.button {
	font-family: Arial, sans-serif;
	cursor: pointer;
	position: relative;
	display: inline-block;
	margin: 0 auto;
	font-size: 18px;
	color: #fff;
	font-weight: 700;
	padding: 13px 55px 13px;
	outline: none;
	line-height: 18px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	text-align: center;
	border-radius: 5px;
	background: #002D7A;
	border: #000 solid 1px;
}
.cta {
	font-family: Arial, sans-serif;
	cursor: pointer;
	position: relative;
	display: block;
	margin: 5px auto;
	font-size: 16px;
	color: #fff;
	font-weight: 700;
	padding: 13px 55px 13px;
	outline: none;
	line-height: 18px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	text-align: center;
	border-radius: 5px;
	background: #002D7A;;
	border: #000 solid 1px;
	max-width: 300px;
}
.cta:hover {
	background-color: #FFE401;
	/* color:#002D7A; */

}
/* .row_pducts:hover .button,
.button:hover{
	/* background-color: #FFE401; */
	/*background-image: deprecated-webkit-gradient(linear, left top, left bottom, #f20c16, #e7070d);
	background-image: -webkit-linear-gradient(top, #f20c16, #e7070d);
	background-image: -moz-linear-gradient(top, #f20c16, #e7070d);
	background-image: -ms-linear-gradient(top, #f20c16, #e7070d);
	background-image: -o-linear-gradient(top, #f20c16, #e7070d);
	background-image: linear-gradient(top, #f20c16, #e7070d);*/
	/* color:#002D7A; */
/* }  */
*/
.comment{
	background-color: #e3edf1;
	padding: 0 20px 15px;
}
.addCommentBox input[type="button"]{
	color: #fff;
	text-align: center;
	border-radius: 5px;
	/* background: #002D7A;; */
	/* border: #000 solid 1px; */
}

.comment_row{
	border: #e6e6e6 1px solid;
	background: #fff
}
.jquery-msgbox-buttons button{
	color: #fff;
	padding: 12px 35px 12px 35px;
	white-space: nowrap;
	text-decoration: none;
	text-align: center;
	border-radius: 5px;

}


.header_popup{
	font-size: 20px;
	color: #fff;
	background: #e01a22;
	background-color: #e7363e;
	background-image: deprecated-webkit-gradient(linear, left top, left bottom, #e7363e -100%, #db161d 100%);
	background-image: -webkit-linear-gradient(top, #e7363e -100%, #db161d 100%);
	background-image: -moz-linear-gradient(top, #e7363e -100%, #db161d 100%);
	background-image: -ms-linear-gradient(top, #e7363e -100%, #db161d 100%);
	background-image: -o-linear-gradient(top, #e7363e -100%, #db161d 100%);
	background-image: linear-gradient(top, #e7363e -100%, #db161d 100%);
}
.img_popup{
	width: 115px;
	height: 115px;
}
.img_cont_gif{
	width: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -23px 0 0 -30px
}
.text_popup{
	color: #4c4c4c;
}
.title_popup{
	color: #4c4c4c;
}
#myProgress {
	background: #fff;
	border: #d2d5d7 solid 1px;
}
#myProgress {
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)
	width: 520px;
	height: 20px;
}
#myBar {
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	-webkit-background-size: 40px 40px;
	background-color: #e01a22;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	-o-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite;
	border-radius: 0px;
}
@-webkit-keyframes progress-bar-stripes {
    from {background-position: 40px 0}
    to {background-position: 0 0}
}
@-o-keyframes progress-bar-stripes {
    from {background-position: 40px 0}
	to {background-position: 0 0}
}
@keyframes progress-bar-stripes {
    from { background-position: 40px 0}
    to { background-position: 0 0}
}
#text1 a{
	color: #1a6ec1;
	font-weight: 700;
	text-decoration: none;
}
.title_m{
	display: none;
}
.text_title{
	float: left;
}
.foot_text{
	background-color: #f1f6f8;
	border-top: #f2f2f2 solid 2px;
	bottom: -55px;
}
.footer_content{
	color: #000;
}
.gift .gift_b{
	display: block;
}
.gift_b{
	display: none;
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
	text-align: center;
}
.gift_b span{
	background: yellow;
	color: #4c4c4c;
	display: inline-block;
	font-weight: 700;
	padding: 4px 5px;
	font-size: 14px;
}
@media only screen and (max-width: 780px){
	.header_bottom{
		padding: 10px 20px 10px;
	}
	.header_top{
		padding: 10px 10px 0;
	}
	.foot_text{
		bottom: -65px;
	}
	#text2{
		padding-top: 0px;
	}
	#text1 p:first-child, #text2 p:first-child {
		font-size: 16px;
	}
	.operator_foto {
		display: none!important;
	}
	.operator_text {
		margin: 0!important;
		padding: 0!important;
	}
}
#proceed,#proceed_first_samsung,#proceed_first_iphone,#proceed_first_a9 {
    background: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    text-align: center;
}
#proceed .margin,#proceed_first_samsung .margin, #proceed_first_iphone .margin, #proceed_first_a9 .margin {
    position: absolute;
    max-width: 500px;
    width: 95%;
    background: #fff;
    top: 25%;
    left: 50%;
    transform: translate(-50%,0);
    padding: 20px;
}
#proceed .close-modal-btn,#proceed_first_samsung .close-modal-btn_two, #proceed_first_iphone .close-modal-btn_two, #proceed_first_a9 .close-modal-btn_two {
    position: absolute;
    background: pink;
    right: 0;
    top: 0;
    padding: 10px;
    color: #7b7b7b;
    font-weight: 700;
}
#proceed .prod-name {text-transform: uppercase;}
#proceed h1 {font-size: 25px;}
#proceed h1 span {color: #f20c16;font-weight: 700;}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
.blink{
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}
@keyframes pulse {
    from,
    to {
        transform: scale3d(1, 1, 1)
    }
    50% {
        transform: scale3d(1.05, 1.05, 1.05)
    }
}

.pulse {
    animation-name: pulse
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.step {
    animation-timing-function: steps(1)
}

.animated.infinite {
    animation-iteration-count: infinite
}
.soldout {
	cursor: not-allowed!important;
	position: relative!important;
}
.soldout .button {
	background: #555!important;
}
.sold-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 9;
}